:root {
  --background-color: #555555;
  --logo-background-color: #07160f;
  --navbar-background-color: rgba(7, 22, 15, 0.38);
  --fish-color: #fca937;
  --white-text: #f9f9f9;

  --page-width: 80rem;
  --logo-font: "grandstander", cursive;
}

html,
body {
  font-family: "Roboto", Arial, cursive;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--logo-font);
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: var(--fish-color) !important;
  font-weight: 200;
}

a:visited {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
}

/* TODO: add parallax */
header {
  background: #0a1a14 url("../img/library_hero_image_template.jpg") no-repeat
    top;
  background-size: cover;
  height: 550px;
}

/* Đảm bảo carousel có cùng chiều rộng và căn chỉnh hợp lý */
#carousel1, #carousel2, #carousel3, #carousel4 {
    width: 100%;
    max-width: 80%; /* Điều chỉnh max-width để giữ lại hiệu ứng responsive */
    margin: 0 auto; /* Căn giữa carousel */
}

/* Đảm bảo kích thước ảnh trong các carousel */
.splide__slide img {
    min-height: 350px;
    max-height: 350px;
    width: 100%; /* Đảm bảo ảnh chiếm toàn bộ chiều rộng của carousel */
}

/* Đảm bảo carousel có cùng style */
.splide__track {
    width: 100%;
    margin: 0 auto; /* Căn giữa track */
}

@media screen and (max-width: 1100px) {
#carousel1, #carousel2, #carousel3, #carousel4 {
    max-width: 90%; /* Đảm bảo carousel thu hẹp lại ở các kích thước màn hình nhỏ */
}
}

@media screen and (max-width: 800px) {
#carousel1, #carousel2, #carousel3, #carousel4 {
    max-width: 100%; /* Full width trên màn hình nhỏ hơn */
}

.splide__slide img {
    min-height: 250px; /* Cân chỉnh lại kích thước ảnh trên màn hình nhỏ */
    max-height: 250px;
}
}

@media screen and (max-width: 500px) {
    #carousel1, #carousel2, #carousel3, #carousel4 {
        max-width: 100%; /* Đảm bảo full width trên màn hình rất nhỏ */
    }

    .splide__slide img {
        min-height: 200px; /* Giảm kích thước ảnh trên màn hình nhỏ hơn nữa */
        max-height: 200px;
    }
}


footer {
  width: 100%;
  height: 80px;
  background-color: var(--fish-color);
  text-align: center;
  margin-top: 50px;
  padding: 20px 0;
  color: #494949;
  font-weight: bold;
  font-size: 10pt;
}

.hero-logo {
  height: 150px;
  /*padding-top: 300px;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 1;
  flex: 1;
  position: relative;
  top: 300px;
}

.hero-grass {
  width: 100%;
  position: absolute;
  display: block;
  top: -100px;
  z-index: 2;
}

nav {
  font-family: var(--logo-font);
  font-size: 20pt;
  padding: 10px;
  color: var(--white-text);
  background: var(--navbar-background-color);
}

nav .buttons {
  max-width: var(--page-width);
  margin: auto;
  display: flex;
  align-content: space-around;
}

nav .buttons a {
  all: unset;
  flex: 1;
  max-width: 200px;
  max-height: 200px;
  text-align: left;
  align-self: center;
}

nav a:hover {
  color: var(--fish-color);
  cursor: pointer;
}

nav a:focus {
  color: #b3d4fc;
}

nav a:active {
  color: white;
}

nav a::after {
  content: url("/img/butterfly.svg");
  filter: invert(86%) sepia(16%) saturate(6740%) hue-rotate(331deg)
    brightness(102%) contrast(98%);
  width: 20px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  animation: none;
}

nav a:hover::after {
  transform-origin: bottom left;
  animation: flutter 0.5s ease-in-out;
}

nav a img {
  width: 100%;
}

#content {
  max-width: var(--page-width);
  margin: auto;
  flex: 1 0 auto;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

.columns {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-col {
  width: 45%;
  min-width: 400px;
}

.right-col {
  width: 45%;
  min-width: 400px;
}

#features #feature-list {
  display: flex;
  flex-direction: row;
}

#features .feature {
  display: table;
}

#features .feature p {
  margin: 10px 0;
}

.butterfly {
  filter: invert(86%) sepia(16%) saturate(6740%) hue-rotate(331deg)
    brightness(102%) contrast(98%);
  width: 20px;
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}

.feature p {
  width: 90%;
}

#platforms .platform-list {
  display: flex;
  flex-direction: column;
}

.platform {
  flex: 1;
  max-width: 400px;
  margin: 10px 0;
  transition: ease-in-out all 0.2s;
}

.platform:hover {
  transform: scale(1.1);
}

.platform img {
  width: 100%;
  min-width: 200px;
}

.community-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.community {
  max-width: 400px;
  flex: 1;
  align-self: center;
  padding: 10px;
  transition: ease-in-out all 0.2s;
}

.community:hover {
  transform: scale(1.1);
}

.community a img {
  width: 100%;
  min-width: 200px;
}

.carrousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.image {
  min-width: 200px;
  max-width: 500px;
  flex: auto;
  margin: 10px 0;
  transition: all 0.2s ease-in-out;
  align-self: center;
}

.image:hover {
  transform: scale(1.1);
}

.image.youtube {
  display: flex;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.image iframe {
  aspect-ratio: 16 / 9;
  max-width: unset;
  height: 100%;
  width: unset;
  max-height: unset;
}

/*.image iframe {*/
/*  width: 100%;*/
/*  max-height: 281px;*/
/*  aspect-ratio: 16 / 9;*/
/*}*/

.image img {
  width: 100%;
}

.image.small {
  justify-self: center;
  align-self: center;
}

.image.small img {
  width: unset;
  height: 100%;
  max-height: 200px;
}

.image.background {
  filter: invert(100%);
}

.facts .fact {
  padding-bottom: 10px;
}

.facts .fact .title {
  display: block;
  width: 100%;
  font-family: var(--logo-font);
}

.facts .fact .info {
  display: block;
  padding-left: 50px;
}

.mail-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mail-form label {
  display: block;
  width: 100%;
  min-width: 500px;
}

.mail-form textarea,
.mail-form input {
  all: unset;
  width: 100%;
  border: 1px var(--logo-background-color) solid;
  border-radius: 5px;
  padding: 5px 5px;
}

.mail-form textarea {
  height: 200px;
  white-space: pre-wrap;
}

.mail-form input:focus,
.mail-form textarea:focus {
  border: 1px var(--fish-color) solid;
}

.mail-form input:hover,
.mail-form textarea:hover {
  border: 1px var(--fish-color) solid;
  cursor: text;
}

.mail-form .button-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mail-form button {
  all: unset;
  padding: 5px 0;
  margin-top: 20px;
  font-family: var(--logo-font);
  font-size: 20px;
  width: 400px;
  border: 2px solid var(--fish-color);
  border-radius: 20px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mail-form button:after {
  content: url("/img/butterfly.svg");
  filter: invert(86%) sepia(16%) saturate(6740%) hue-rotate(331deg)
    brightness(102%) contrast(98%);
  width: 15px;
  height: 8px;
  display: inline-block;
  position: relative;
  bottom: 6px;
}

.mail-form button:hover {
  background: var(--fish-color);
  cursor: pointer;
}

.mail-form button:hover:after {
  filter: invert(100%);
}

.mail-form button:focus {
  background: var(--white-text);
}

.mail-form button:focus:after {
  filter: invert(86%) sepia(16%) saturate(6740%) hue-rotate(331deg)
    brightness(102%) contrast(98%);
}

footer p {
  margin: 10px 0;
  padding: 0;
}

#policies a {
  color: inherit;
}

#policies a:hover {
  color: var(--white-text) !important;
}

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form h1 {
  font-family: 'Grandstander', cursive;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  background-color: #fca937;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.form button:hover {
  background-color: #e28d32;
}

.form p {
  margin-top: 15px;
}

.form a {
  color: #fca937;
  text-decoration: none;
}


@media screen and (max-width: 1100px) {
  #content {
    max-width: 90%;
    margin: auto;
  }

  nav .buttons {
    max-width: 800px;
  }
}

@media screen and (max-width: 800px) {
  header {
    height: 400px;
  }

  .hero-logo {
    height: 100px;
    top: 220px;
  }

  .columns {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: unset;
  }

  .left-col,
  .right-col {
    min-width: unset;
    width: 100%;
  }

  nav .buttons {
    max-width: 600px;
    margin: auto;
    align-content: space-around;
  }

  nav .buttons a {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  .platform-list,
  .community-list {
    flex-direction: row;
    justify-content: space-around;
  }

  .platform,
  .community {
    width: 400px;
    margin: 10px 0;
    align-self: center;
  }

  .carrousel {
    flex-direction: column;
    align-content: space-around;
  }

  .mail-form input {
    width: 100%;
  }

  .mail-form textarea {
    width: 100%;
    height: 100px;
  }

  .mail-form label {
    min-width: 300px;
  }

  .mail-form button {
    width: 100%;
  }

  .image.small img {
    /* width: 100%; */
    max-height: 200px;
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 300px;
  }

  .hero-logo {
    width: 80%;
    top: 150px;
  }

  .columns {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  nav {
    font-size: 15pt;
  }

  nav .buttons a:after {
    width: 15px;
    height: 11px;
  }

  .columns {
    min-width: 300px;
  }

  .right-col,
  .left-col {
    min-width: unset;
    width: 100%;
  }

  .platform,
  .community {
    max-width: unset;
    width: unset;
    align-self: unset;
  }

  .hero-logo {
    height: 100px;
    /*padding-top: 200px;*/
  }

  /*.image.youtube {*/
  /*  display: flex;*/
  /*  width: 100%;*/
  /*  height: 100%;*/
  /*  aspect-ratio: 16/9;*/
  /*}*/

  /*.image iframe {*/
  /*  aspect-ratio: 16 / 9;*/
  /*  max-width: unset;*/
  /*  height: 100%;*/
  /*  width: unset;*/
  /*  max-height: unset;*/
  /*}*/
}

@keyframes flutter {
  0% {
    transform: skew(0, 0) scale(1);
  }

  20% {
    transform: translateY(100%) skew(-10deg, -10deg) scale(1) translateY(-100%);
  }

  40% {
    transform: translateY(100%) skew(10deg, 10deg) scale(1.1) translateY(-100%);
  }

  60% {
    transform: translateY(100%) skew(-5deg, -5deg) scale(0.9) translateY(-100%);
  }

  80% {
    transform: translateY(100%) skew(0deg, 0deg) scale(1) translateY(-100%);
  }
}
